<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.zxd.mapper.ExpressMapper">

	<select id="getExpressPagination" parameterType="PaginationBean"
		resultMap="PaginationBeanMap">
		select count(1) total, ceil(count(1)/${pageSize}) totalPage,
		${pageSize} pageSize,${currPage} currPage from zorders
	</select>

	<!-- 使用嵌套查询的方式，处理分页 -->
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage}" ofType="Express"
			select="getPaginationExpress" />
	</resultMap>

	<sql id="selectExpress">
		select * from zorders
	</sql>

	<!-- #是采取占位符，$是直接取到值 -->
	<select id="getPaginationExpress" resultType="Express">
		select * from
		(select zd.* ,rownum rn from
		(select oid,uname,otime,orelname,ocode,osize,odesc,zaddr,oprice,otype
		from ZORDERS o,ZUSERS u,ZADDR a where o.uuid=u.uuid and o.zid=a.zid )zd
		where ${pageSize} * ${currPage}>=rownum)
		where rn>( ${currPage}-1 ) * ${pageSize}

	</select>

	<!-- ======================================================================================= -->
	<!-- <insert id="insertTag" parameterType="Tag"> <selectKey keyColumn="tid" 
		keyProperty="tid" resultType="int" order="BEFORE"> select tid from tag t 
		right join (select '${tname}' tn from dual) temp on t.tname = temp.tn </selectKey> 
		<choose> <when test="tid!=null"> update tag set tcount = tcount + 1 where 
		tid =#{tid} </when> <otherwise> insert into tag values(seq_tag.nextval,#{tname},1) 
		</otherwise> </choose> </insert> -->
</mapper>